*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #190361, #bb00ff);
		animation: gradient 10s ease infinite;
        background-size: 200% 200%;

        display: grid;
        place-items: center;
        height: 100vh;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main{
    width: 42.8rem;

    background-color: #FFFFFF;
    border-radius: .5rem;

    box-shadow: 0rem 2.0rem 5.0rem rgba(0, 0, 0, 0.8);
}


.screen1{
    margin: 4.8rem 6.4rem 6.4rem;
}

h1{
    font-family: 'Montserrat';
    font-size: 2.4rem;
    line-height: 2.9rem;

    color: #34355B;

    margin-bottom: 1.7rem;
    text-align: center;
}

p{
    font-family: 'DM Sans';
    font-size: 1.5rem;
    line-height: 2.0rem;

    margin-bottom: 1.7rem;
    text-align: center;
}

#btnOpen{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;

    transition: background .3s;
}

.hide{
    display: none;
}

/*screen 2*/

h2{
    font-family: 'Dancing Script';
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    
}

.bilhete{
    width: 29.3rem;
    height: 10.7rem;

    
    background: #E4EDF1;
    box-shadow: .0rem .1rem .5rem rgba(0, 0, 0, 0.8);
    padding: 1.0rem;
    animation: downtop 2s;
    animation-fill-mode: forwards;
    transform: scale(1.1);
}


@keyframes downtop{
    0%{
        opacity: 1;
        transform: scale(1.1);
        transform: translateY(150px);
    }

    100%{
        opacity: 1;
        transform: scale(1.1);
        transform: translateY(0);
    }
}

.cookieOpen{
    padding-top:1.7rem ;
}

#btnReset{
    width: 17.4rem;
    height: 5.2rem;

    background: #FF9500;
    border-radius: .4rem;
    border: none;
    color: #FFFFFF;
    margin: .0rem 6.4rem;
    cursor: pointer;
    transition: background .3s;
    
}

#btnOpen:hover {
    animation: treme 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes treme {
    0% {margin-left: 1;}
    25% {margin-righ: 9px;}
    50% {margin-left: 5px;}
    75% {margin-left: 8px;}
    100% {margin-left: 2px;}
  }

.screen2{
    margin: 4.8rem 6.4rem;
}